body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', Sans-serif;
	font-size: 20px;
	line-height: 30px;

}

header{
	background-color: #d14635;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 30px;

}

h1, h2{
	font-family: 'Press Start 2P', cursive;

}

/*header styles */
/*ctrl + / for comment*/
header h1{
	color: white;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 10px solid white;
}

main{
	max-width: 1080px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #d14635;
	margin: 40px 0 10px;
}

a{
	color: #e70c19;
}

a:hover{
	background-color: #483a94;
	color: white;
}

footer{
	text-align: center;
	background-color: #d14635;
	color: white;
	font-size: 15px;
	padding-left: 50px;
}

footer p{
	margin: 0
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin: 0;
	text-align: right;
	font-size: 15px;
}